<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if isHome}}
            <li><a class="active" href="/">home</a></li>
                {{else}}
                <li><a href="/">home</a></li>
            {{/if}}

            {{#if isCourses}}
                <li><a class="active" href="/courses">courses</a></li>
            {{else}}
                <li><a href="/courses">courses</a></li>
            {{/if}}

            {{#if isAdd}}
                <li><a class="active" href="/add">add course</a></li>
            {{else}}
                <li><a href="/add">add course</a></li>
            {{/if}}
        </ul>
    </div>
</nav>
