<h1>Добавить новый курс</h1>

<form action="/add" method="post">
    <div class="input-field">
        <input name="title" class="validate" type="text" min="1" required id="title">
        <label for="title">Название курса</label>
        <span class="helper-text" data-error="Введите название"></span>
    </div>
    <div class="input-field">
        <input name="price" class="validate" type="number" id="price" required>
        <label min="1" for="price">Цена</label>
        <span class="helper-text" data-error="Введите цену"></span>
    </div>
    <div class="input-field">
        <input name="img" class="validate" min="1" type="url" id="img" required>
        <label for="img">URL картинки</label>
        <span class="helper-text" data-error="Введите URL"></span>
    </div>
    <button class="btn btn-primary" type="submit">Купить курс</button>
</form>
